*{
    margin:0px;
    padding:0px;
}

body{
    background-color: rgb(227, 227, 227);
    height:100vh;
    font-family:Arial, Helvetica, sans-serif, serif;

}

main{
    margin:auto;
    max-width: 1200px;
}

header{
    background-color: black;
    color:white;
    font-size:20px;
    text-align:center;
    padding: 20px; 
    margin-bottom:30px;
}

.product-cards{
    margin:100px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:10px;
    margin-bottom: 70px;
    
    
}

.product-card{
    height:340px;
    background-color: white;
    border-radius: 15px;
    padding:20px;
    text-align:center;
    position:relative;
    box-shadow: 0 5px 10px rgba(123, 123, 123, 0.436);
    transition:transform 0.6s ease, box-shadow 0.6s ease;
    animation: fadein 1.5s ease;
    

}
@keyframes fadein{
    from{
        transform:translatey(15px);
        opacity:0;
    }
    to{
        transform:translatey(0px);
        opacity:1;
    }
}


.product-card:hover{
            transform: translatey(-10px);
            box-shadow: 0 8px 15px rgb(123, 123, 123);
}


.product-badge{
    position:absolute;
    top:15px;
    right:15px;
    background-color:rgb(255, 67, 4);
    padding: 6px 10px;
    font-size:12px;
    border-radius: 15px;;
    color:white;
    font-weight:bold;
    transition: transform 0.3s ease;
    animation: pulse 1.5s ease-in-out infinite;
}

.product-image{
    font-size:50px;
    display:block;
    margin-bottom:30px;
    margin-top:20px;
    transition:transform 0.3s ease;
    animation:float 3s ease-in-out infinite;
    
}

@keyframes float{
    0%,100%{
        transform:translatey(0px);
    }

    50%{
        transform:translatey(-10px);
    }
}


@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}


h2{
    margin-bottom:25px;
    text-align: center;

}

.product-desc{
    color:grey;
    line-height:20px;
    margin-bottom:20px;
    
    height:40px;
    overflow:hidden;
   
}

.price{
    font-size:30px;
    font-weight:bold;
    color:rgb(108, 108, 255);
    margin-bottom: 20px;
    letter-spacing:1px;

}

.Product-btn{

    background-color: rgb(108, 108, 255);
    color:white;
    border-radius:20px;
    font-size:18px;
    border:none;
    width:100%;
    padding:10px;
    transition: all 0.3s ease;
    cursor:pointer;

}

.Product-btn:hover{
    transform:scale(1.05);
    background-color: rgb(78, 78, 249);

}


.Product-btn:active{
    transform:scale(0.95);

}

.comparision-table{
    margin:100px;
    background-color: white;
    border-radius: 15px;
    padding:20px 30px;
    box-shadow:0 5px 10px rgb(161, 161, 161);
}
    .comparision-table td,th{
    max-width:90px;
    
}








table{
    width:100%;
    text-align:center;
    border-collapse:collapse;
        
}

.comparision-table td,
th {
    max-width: 10px;
}

.comparision-table thead {
    text-align:center;
    background-color: rgb(101, 101, 250);
    color :white;
    padding:10px;

}

.comparision-table th,td{

    padding:20px;
    border-bottom:1px rgba(223, 223, 223, 0.603) solid;

}



.lc td{
    border-bottom:none;
}

tr:hover{
    background-color: rgba(230, 230, 230, 0.331);

}


footer{
    background-color: rgb(125, 118, 118);
    color:white;
    padding: 20px;
    text-align:center;
    margin-top:20px;
}
@media (max-width:768px){
    .product-cards{
        grid-template-columns: 1fr;
    }
   
}